@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Caveat:wght@500&family=Rock+Salt&display=swap');

body {
  font-family: 'Arvo', serif;

}


.chat-message {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.chat-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.send-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.typehere{
  width: 50vh;
  height: 8vh;
  font-size: 1.5em; /* font-size is the same as the parent's font-size */
  font-family: 'Arvo', serif;
  text-align: center;

}

.sendbtn{
  height: 8.5vh;
  padding-bottom: 1.5vh;
  padding-right: 2vh;
  padding-left: 1.4vh;
  font-size: 2em; /* font-size is the same as the parent's font-size */
}

.signout{
  height: 6vh;
  width: 20vh;
  font-size: 1.5em; /* font-size is the same as the parent's font-size */
  font-family: 'Arvo', serif;
  margin-left: 2vh;
}

.signin{
  height: 6vh;
  width: 30vh;
  font-size: 1.5em; /* font-size is the same as the parent's font-size */
  font-family: 'Arvo', serif;
  margin-left: 2vh;
}

.title{
  margin-left: 2vh;
}

.cr{
  margin-left: 2vh;
}
