@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Caveat:wght@500&family=Rock+Salt&display=swap');

body {
  font-family: 'Arvo', serif;

}


.chat-message {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.chat-input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
}

.send-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.typehere{
  width: 50vh;
  height: 8vh;
  font-size: 1.5em; /* font-size is the same as the parent's font-size */
  font-family: 'Arvo', serif;
  text-align: center;
}

.typebox{
  padding-top: 1vh;
}

.sendbtn{
  height: 8.5vh;
  padding-bottom: 1.5vh;
  padding-right: 2vh;
  padding-left: 1.4vh;
  font-size: 2em; /* font-size is the same as the parent's font-size */
  margin-left: 1vh;
}

.signout{
  height: 6vh;
  width: 20vh;
  font-size: 1.5em; /* font-size is the same as the parent's font-size */
  font-family: 'Arvo', serif;
  margin-left: 2vh;
  margin-bottom: 1vh;
  min-height: 30px;
  min-width: 120px;
}

.signin{
  height: 6vh;
  width: 30vh;
  font-size: 1.5em; /* font-size is the same as the parent's font-size */
  font-family: 'Arvo', serif;
  margin-left: 2vh;
}

.title{
  margin-left: 2vh;
  font-size: xx-large;
}

.cr{
  margin-left: 2vh;
}

@media only screen and (max-width: 600px) {
    
    .typehere{
      width: 30vh;
      margin-bottom:2vh;
    }
    .sendbtn{
      padding-bottom: 1.27vh;
      height: 8.75vh;
    }
    .msg{
      font-size: large;
    }
}

@media screen and (max-height: 900px) {
  .signout{
    font-size: large;
    height: 4vh;
    width: 1vw;
    margin-bottom: 0;
  }
  .title{
    font-size: x-large;
  }
  .typehere{
    font-size: larger;
    margin-top: 0;
    height: 4vh;
  }
  .sendbtn{
    font-size: larger;
    margin-top: 0;
    padding-bottom: .5vh;
    height: 4.8vh;
  }
}


.msg{
  font-size: larger;
}

